.modal-box {
  position: absolute;
  top: 40%;
  left: 50%;
  max-width: 400px;
  padding: 10px 50px 100px 50px;
  border-radius: 20px;
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
}

.modal-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
