.footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 0px 20px 0px 20px;
  gap: 50px;
  min-height: 100px;
  background-color: var(--primary-color);
}

.footer p {
  font-weight: bold;
}

.footer-icon {
  border-radius: 30px;
}
.footer-icon:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px 5px var(--action-color);
}
