.nav-rooms {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-rooms-title {
  text-align: center;
  font-size: 25px;
  margin: 0;
}

.nav-select-room-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 300px;
  overflow-y: scroll;
}

.nav-select-room {
  margin-right: 5px;
  background-color: var(--secondary-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 30px;
}

.nav-select-room-join {
  border-color: white;
}

.nav-select-room-delete {
  border-color: red;
}

.nav-select-room:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.nav-select-room-delete:hover {
  background-color: rgb(192, 110, 110);
}
