.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  overflow-y: hidden;
}

@media only screen and (max-width: 900px) {
  .home-container {
    padding: 10px;
  }
}
