:root {
  --primary-color: #0060c0;
  --secondary-color: #1784c4;
  --action-color: #ff9100;
  --hover-color: #cacaca;
}

body {
  margin: 0;
  background: var(--primary-color);
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h1,
h2,
h3,
p {
  color: white;
}

button:hover {
  cursor: pointer;
}

.small-caps {
  font-variant: small-caps;
}

.default-button {
  padding: 14px;
  border-radius: 6px;
  border: 1px solid var(--secondary-color);
}

.default-input {
  padding: 12px;
  border-radius: 6px;
  border: 2px solid rgb(0, 0, 0);
  font-size: 0.9rem;
}

::-webkit-scrollbar-track {
  border: 1px solid #000;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--action-color);
  border: 1px solid #000;
  border-radius: 10px;
}
