:root {
  /* Color theme */
  --primary-color: #003057;
  --secondary-color: #1784c4;
  --action-color: #ff9100;
  --hover-color: #cacaca;

  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(
    to top left,
    var(--secondary-color),
    var(--primary-color)
  );
}

/* Default font styles */
h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h1,
h2,
h3,
p {
  color: white;
}

p {
  font-size: 20px;
}

.small-caps {
  font-variant: small-caps;
}

/* Default button style */
.default-button {
  padding: 5px;
  border-radius: 6px;
  background-color: var(--primary-color);
  border: 3px solid var(--secondary-color);
  font-variant: small-caps;
}

.default-button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

/* default input style */
.default-input {
  padding: 12px;
  border-radius: 6px;
  border: 2px solid rgb(0, 0, 0);
  font-size: 0.9rem;
}

/* SCROLL BAR */
::-webkit-scrollbar-track {
  border: 1px solid #000;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--action-color);
  border: 1px solid #000;
  border-radius: 10px;
}

/* Media font sizes */
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 13px;
  }
  p {
    font-size: 12px;
  }
}
