.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 600px;
  padding: 0px 20px 0px 20px;
  border-right: 1px solid white;
  gap: 20px;
}

.nav-username {
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.nav-room-wrapper {
  display: flex;
  flex-direction: column;
}

.nav-room > * {
  padding: 5px;
  display: inline;
}

.nav-rooms {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-rooms-title {
  text-align: center;
  font-size: 25px;
  margin: 0;
}

.nav-select-room-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 300px;
  overflow-y: scroll;
}

.nav-select-room-join {
  margin-right: 5px;
  background-color: var(--secondary-color);
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 30px;
}

.nav-select-room-join:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.usersList {
  color: white;
}
.usersList p {
  margin: 2px;
  font-size: 20px;
}

.nav-rooms-actions {
  display: flex;
}

.nav-rooms-actions > button {
  flex-grow: 1;
}

.log-out {
  margin-top: auto;
  margin-bottom: 40px;
}

/* Rooms scroll */

.nav-select-room-wrapper::-webkit-scrollbar-track {
  border: 1px solid #000;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.nav-select-room-wrapper::-webkit-scrollbar {
  width: 10px;
}

.nav-select-room-wrapper::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--action-color);
  border: 1px solid #000;
  border-radius: 10px;
}
