.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 300px;
  max-width: 300px;
  padding: 0px 20px 0px 20px;
  border-right: 1px solid white;
  overflow-x: hidden;
}

.nav-username {
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.nav-rooms-loading-wrapper {
  position: absolute;
  top: -50px;
  left: 45%;
  display: flex;
  justify-content: center;
}

.nav-rooms-actions button {
  width: 100%;
  margin-top: 10px;
}

.nav-rooms-actions {
  margin-bottom: 20px;
}

.nav-rooms-container {
  position: relative;
}

.log-out {
  margin-top: auto;
  margin-bottom: 40px;
}
