.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 300px;
  max-width: 300px;
  padding: 0px 20px 0px 20px;
  border-right: 1px solid white;
  gap: 20px;
  overflow-x: hidden;
}

.nav-username {
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.nav-rooms-actions button {
  width: 100%;
}

.log-out {
  margin-top: auto;
  margin-bottom: 40px;
}

/* Rooms scroll */

.nav-select-room-wrapper::-webkit-scrollbar-track {
  border: 1px solid #000;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.nav-select-room-wrapper::-webkit-scrollbar {
  width: 10px;
}

.nav-select-room-wrapper::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--action-color);
  border: 1px solid #000;
  border-radius: 10px;
}
