.sendMessageContainer {
}

.messageInput,
button {
  padding: 14px;
  margin-right: 16px;
  border-radius: 6px;
  border: 1px solid rgb(153, 217, 234);
  font-size: 0.9rem;
}

.messageInput {
  width: 40%;
}
