.sendMessageContainer {
  display: flex;
  gap: 5px;
}

.messageInput {
  padding: 14px;
  border-radius: 6px;
  border: 1px solid rgb(153, 217, 234);
  font-size: 0.9rem;
  height: 30px;
}

.messageInput {
  width: 60%;
}

.send-message-button {
  width: 120px;
}

@media only screen and (max-width: 700px) {
  .messageInput {
    width: 90%;
  }
}
